<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Book</h1>
      <div class="text-right">
        <%= link_to "Publica Book", new_book_path, class: "btn btn-default"%>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Url</th>
          <th>Descripción</th>
        </tr>
        <% @books.each do |book| %>
         <tr>
           <td><%= book.id %></td>
           <td><%= link_to book.name, book %></td>
           <td><%= book.url %></td>
           <td><%= book.description %></td>
           <td><a href="<%= edit_book_path(book) %>"><span class="label  label-primary">Editar</span></a></td>
         </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
